version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    groups:
      vite-ecosystem:
        patterns:
          - "vite"
          - "@vitejs/*"
          - "vitest"
